#container{
    width:500px;
    margin:0 auto;
    position:relative;
}

#logo{
    display:block;
    width:40%;
    margin:0 auto;
}

.menu{
    display:block;
    width:50%;
    margin:10% auto;
    padding:10px;
    border-radius:10px;
    font-family:Microsoft Yahei;
    font-weight:bold;
    font-size:160%;
    background-color:#6464fe;
    color:white;
}

.menu:hover{
    opacity:0.6;
}

#rule{
    background-color:#ff7e64;
}

#rule:hover{
    background-color:#ff7e64;
}

#suggest{
    margin:20% auto 5%;
    font-family:Microsoft Yahei;
    font-weight:bold;
    font-size:100%;
    text-align:center;
}

#suggest img{
    width:8%;
    vertical-align:middle;
}

#info{
    display:none;
    margin:5%;
    padding:0 5%;
    font-family:'黑体';
    font-size:120%;
    text-align:justify;
    background-color:white;
    border-radius:20px;
    border:1px #ff7e64 solid;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
}

#title{
    font-family:'黑体';
    font-weight:bold;
    font-size:150%;
    text-align:center;
    color:#ff7e64;
}

#explain{
    font-family:'黑体';
    font-weight:bold;
    font-size:120%;
    text-align:center;
}

#close{
    display:block;
    width:30%;
    margin:5% auto;
    border-radius:10px;
    font-family:'黑体';
    font-size:120%;
    background-color:#ff7e64;
    color:white;
}